root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ps1,psd1}]
# ASCII only: Windows PowerShell 5.1 reads BOM-less files as ANSI (enforced by tests)
charset = latin1
indent_style = space
indent_size = 2
end_of_line = crlf

[*.{yml,yaml,md}]
indent_style = space
indent_size = 2
